@model IEnumerable<WorldwideFrames.Models.Frame>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FrameType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FramePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FrameType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FramePrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
